* {
    margin: 0;
    padding: 0;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "aside header"
        "aside nav"
        "aside main"
        "aside footer";
}

header {
    text-align: center;
    color: black;
    background-color: lightgray;
    grid-area: header;
}
nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
    grid-area: nav;
}
aside {
    color: black;
    grid-area: aside;
}
main {
    background-color: lightgray;
    color: black;
    grid-area: main;
}
footer {
    text-align: center;
    color: black;
    background-color: lightgray;
    grid-area: footer;
}

.nav-bar ul {
    background-color: rgb(104, 104, 104);
    list-style-type: none;
    overflow: hidden;
}
.nav-bar li {
    float: left;
}
.nav-bar a {
    width: 100px;
    padding: 15px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}
.nav-bar a:hover {
    color: white;
    background-color: gray;
    border-radius: 8px;
}

.aside-menu,
.aside-menu a {
    color: wheat;
    background-color: rgb(65, 65, 65);
}

.aside-menu-section {
    font-size: 20px;
    margin: 25px 0;
    list-style-type: none;
}
