* {
    margin: 0;
    padding: 0;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "aside main"
        "footer footer";
    background-color: #282828;
}
header {
    padding-top: 3px;
    grid-area: header;
    background-color: #282828;
}
nav {
    grid-area: nav;
    background-color: #181818;
    margin-bottom: 5px;
    border-radius: 10px;
    margin: 5px 5px;
}
aside {
    grid-area: aside;
    background-color: #181818;
    border-radius: 10px;
    margin: 0px 5px;
}
main {
    grid-area: main;
    background-color: #121212;
    border-radius: 10px;
    margin-right: 5px;
}
footer {
    padding: 3px;
    grid-area: footer;
    background-color: #282828;
}

header,
nav,
main,
footer {
    text-align: center;
    color: #eeeeee;
}

.navigation-bar ul {
    list-style-type: none;
    overflow: hidden;
}
.navigation-bar li {
    float: left;
}
.navigation-bar button {
    width: min-content;
    padding: 15px;
    font-size: 20px;
    background-color: transparent;
    color: #eeeeee;
    border: none;
    cursor: pointer;
}
.navigation-bar button:hover {
    background-color: #282828;
    color: rgb(236, 236, 173);
}

.side-bar-section ul {
    list-style-type: none;
}
.side-bar {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: #eeeeee;
}

.side-bar-section {
    margin: 15px;
}
