* {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #eeeeee;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "aside main"
        "footer footer";
    background-color: #282828;
}
header {
    padding-top: 5px;
    grid-area: header;
    background-color: #282828;
}
nav {
    grid-area: nav;
    background-color: #181818;
    margin-bottom: 5px;
    border-radius: 10px;
    margin: 5px 5px;
}
aside {
    grid-area: aside;
    background-color: #181818;
    border-radius: 10px;
    margin: 0px 5px;
}
main {
    grid-area: main;
    background-color: #121212;
    border-radius: 10px;
    margin-right: 5px;
}
footer {
    padding: 3px;
    grid-area: footer;
    background-color: #282828;
}

header,
nav,
main,
footer {
    text-align: center;
}

/* Navigation Bar */
.navigation-bar ul {
    height: 60px;
    list-style-type: none;
    display: flex;
    align-items: center;
    float: left;
}
.navigation-bar a {
    text-decoration: none;
    width: min-content;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
.navigation-bar a:hover {
    background-color: #282828;
    color: rgb(236, 236, 173);
}

/* Side Bar */
.side-bar-section {
    display: none;
    margin: 20px;
}
.section-title {
    text-align: center;
    font-size: 30px;
    border: 5px solid #282828;
    border-radius: 10px;
    padding: 10px;
}
.side-bar-section ul {
    list-style-type: none;
}
.side-bar-section a {
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
}
.side-bar-section a:hover {
    background-color: #282828;
    color: rgb(236, 236, 173);
}

.biography-main p {
    display: none;
    margin: 20px;
    font-size: 20px;
}
